<div class="row">
  <div class="col-12">
    <hr>
    <h1 class="text-center">Users Data</h1>
    <app-table></app-table>
  </div>
  <div class="col-12 text-center">
    <app-pagination
            [count]="someCountVar"
            [page]="somePageVar"
            [perPage]="somePerPageVar"
            [pagesToShow]="5"
            [loading]="someLoadingVar"
            (onPrev)="prevPage()"
            (onNext)="nextPage()"
            (onPage)="goToPage($event)">
    </app-pagination>
  </div>
</div>