<div class="row">

    <div class="col-12">
        <hr>
        <h2 class="text-center">To Do List</h2>
        <hr>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="name">
                </div>
            </div>

            <div class="col-2">
                <button class="btn btn-primary" (click)="onAdd()">Add To List</button>
            </div>
        </div>
    </div>

    <div class="col-12">
        <hr>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of toDolist; let i = index">
                <div class="row">
                    <div class="col-6 align-content-center">
                        <p *ngIf="!item.done; else elseBlock">{{ item.newName }}</p>
                        <ng-template #elseBlock>
                            <del>{{ item.newName }}</del>
                        </ng-template>
                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-success" (click)="onDone(i)" *ngIf="!item.done">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-warning" (click)="onEdit(i)" *ngIf="!item.done">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" (click)="onDelete(i)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>